html, body{
height: 100%;

}

body{
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    border-radius: 20px 10px;
    border: #6D665D solid 5px;
}
article{
    background: #669DC3;
    color: #6D665D;
    width: 300px;
    padding: 10px 15px;
    display:flex wrap;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: Agbalumo;
}
p{ 
    font-family: Inter;
    font-weight: 600;
    display:flex;
    text-align: center;
}
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
footer{
    display: flex;
    justify-content: space-around;
}

button{
    font-family: Inter;
    padding:10px;
    margin-bottom: 20px;
    color:#669DC3;
    background-color:#6D665D;
    font-weight: 600;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}

button:first-of-type{
    background-color:#FFFFFF;
    border: 2px solid #6D665D;
}


button:hover{
    color:#6D665D;
    background-color:#669DC3;
    border: 2px solid #FFFFFF;
}

button:hover:first-of-type{
    color:#6D665D;
    border: 2px solid #6D665D;
}